$font-family-url: "https://db.onlinewebfonts.com/c/800e985f75a5a56c2f7b4be502d286de?family=Burbank+Big+Condensed+Bold";
@import url('#{$font-family-url}');

$fortnite-font-color: #FFFFFD;
$fortnite-bg-color: #35C4EA;
$menu-bar-color: #131920;
$menu-selected-color: #35C4EA;
$body-bg-color: #151B21;

.header {
    color: $fortnite-font-color;
    background-color: $menu-bar-color;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem;
}

.fortnite-logo {
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	height: auto;
	width: 15%;
}
.fortnite-title {
    color: $fortnite-font-color;
    font-family: "Burbank Big Condensed Bold", sans-serif;
    font-size: 75px;
    text-align: center;
    justify-content: center;
    align-items: center;
	margin-top: 25px;
}

.menu-bar {
    background-color: $menu-bar-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}