$font-family-url: "https://db.onlinewebfonts.com/c/800e985f75a5a56c2f7b4be502d286de?family=Burbank+Big+Condensed+Bold";
@import url('#{$font-family-url}');

$fortnite-font-color: #fffffd;
$fortnite-bg-color: #35c4ea;

.header {
  color: whitesmoke;
  background-color: $fortnite-bg-color;
  background-image: url('path/to/your-image.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem;
}

.fortnite-title {
  color: $fortnite-font-color;
  font-family: "Burbank Big Condensed Bold", sans-serif;
  font-size: 77px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.menu-bar {
  background-color: $fortnite-bg-color;
}

.div {
  margin: auto;
  padding: 10px;
  text-align: center;
  font-size: medium;
}
